div, span, li, ul, span, p, body, html {padding: 0; margin: 0; }

body { background: #eee;}

a {text-decoration: none;}

.bgf { background: #fff; }

.bg-light-green { background: #f0f9eb;}

.m-t-10 { margin-top: 10px;}

.m-r-10 { margin-right: 10px;}

.m-l-50 { margin-left: 50px;}

.f-12 { font-size: 12px;}

.f-14 { font-size: 14px;}

.g-c {color: #ccc;}

.g-6 {color: #666;}

.g-error {color: red;}

.f-12-i { font-size: 12px !important;}

.w-30 { width: 30px;}

.w-50 { width: 50px;}

.w-100-c { width: 100%;}

.pull-right { float: right}

.pull-left { float: left}

.lh20 { line-height: 20px;}
.clear{ clear: both;}
.ovh{ overflow: hidden;}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  background: #eee;
  color: #333;
}

.banner-index {
  width: 100%;
  img {
    width: 100%;
  }
}

.p-tag {
  line-height: 25px;
  @extend .f-14;
  padding: 10px;
}

.align-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.text-center { text-align: center;}

.p-10 { padding: 15px 10px;}

.el-form {
  .el-select {
    width: 100%;
  }
}

.form-home {
  .el-radio {
    margin-top: 10px;
  }
}

.no-bottom {
  .el-form-item {
    margin-bottom: 0 !important;
  }
}

.row-align-left {display: flex; flex: 1; align-items: flex-start;}

.row-align-center {display: flex; flex: 1; align-items: flex-start;}

.column-align-left { flex-flow: column wrap; display: flex; flex: 1; align-items: flex-start; justify-content: flex-start;}

.title {
  @extend .f-12;
  color: #333;
  line-height: 25px;

  .b {
    @extend .f-14;

  }
}

.article-block {
  line-height: 25px;
  @extend .f-12;
  color: #333;
  text-indent: 22px;
}

.el-table {
  font-size: 12px !important;

  td, th {
    padding: 5px !important;
  }

  .cell {
    padding: 0 !important;
  }

  .event-row {
    background: #f0f9eb;
  }

}

.table-footer {
  @extend .f-12;

  span { @extend .g-c;}

  .count {
    float: right;
    @extend .g-6;
    font-weight: bold;
  }
}

.el-button span {
  margin: 0 auto;
}

.copyright {
  @extend .text-center;
  color: #409EFF;
  line-height: 20px;
  @extend .f-12;
  margin-bottom: 10px;
}
.list-check-height{
  .el-checkbox{ line-height: 28px; margin-bottom: 14px; margin-top: 3px;}
}
